body {
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.App {
  margin: 17px;
  background-color: rgb(189, 208, 215, 0.5);
  height: 95%;
  background-attachment: fixed;
  padding: 20px;
}
.header {
  margin-left: 50px;
  padding: 40px;
  display: flex;
  align-items: baseline;
}
h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: rgb(57,72,41); 
}

img {
  width:180px;
  height: auto;
}
.input {
  background-color: transparent;
  padding: 10px;
}

.btn {
  padding: 10px;
  background-color: rgb(68,107,36);
  border: none;
  color: antiquewhite;
}
.input {
  width:40%;
  font-family: "Ubuntu", sans-serif;
}
.btn {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  width: 20%;
  font-size: 15px;
  letter-spacing: 4px;
}
.text-under p{
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
}
.nutrition {
  margin-left: 50px;
}
.text {
  font-family: "Ubuntu", sans-serif;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
table {
  width: 70%;
  border-bottom: 2px solid rgb(68,107,36);
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
}
.label {
  width: 60%;
}
.units {
  width: 10%;
}
.arrow {
  width:40px
}
@media all and (max-width:500px) {
  
.App {
  margin: 10px;
  padding: 10px;
}
h1{
  font-size: 30px;
}
img {
  width: 100px; 
}
.header {
  align-items: center;
  margin-left: 20px;
  padding: 10px;
}
.nutrition {
  margin-left: 20px;
}
.input {
  width: 60%;
}
.btn {
  width: 30%;
}
table {
  width: 100%;
  padding: 0px;
}
.text {
  font-size: 20px;
}
}
@media all and (max-width:350px) {
  .nutrition {
    margin-left: 10px;
  }
  .btn {
    letter-spacing: normal;
  }
}